# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [1]:
#import libraries

import pandas as pd
import numpy as np

#data sets into data frames
colony_df = pd.read_csv('colony.csv')
honey_df = pd.read_csv('honey.csv')
stressors_df= pd.read_csv('stressors.csv')

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [2]:
#From my EDA I know that any null data in any of the dataframes is listed as (NA) so looking for missing data at this point is moot. 
#However, if I were going to look for missing data, I would use this code for each of my dataframes. 
colony_df.isnull().sum()

State                 0
Starting Colonies     0
Maximum Colonies      0
Lost Colonies         0
Percent Loss          0
Added Colonies        0
Renovated Colonies    0
Percent Renovated     0
Year                  0
dtype: int64

In [3]:
#If I want to know where the (NA) values are, I will search this
na_colony = colony_df[colony_df.eq('(NA)').any(1)]
na_colony

,State,Starting Colonies,Maximum Colonies,Lost Colonies,Percent Loss,Added Colonies,Renovated Colonies,Percent Renovated,Year
799,Alabama,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
800,Arizona,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
801,Arkansas,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
802,California,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
803,Colorado,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
804,Connecticut,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
805,Florida,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
806,Georgia,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
807,Hawaii,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
808,Idaho,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
809,Illinois,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
810,Indiana,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
811,Iowa,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
812,Kansas,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
813,Kentucky,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
814,Louisiana,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
815,Maine,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
816,Maryland,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
817,Massachusetts,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
818,Michigan,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
819,Minnesota,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
820,Mississippi,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
821,Missouri,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
822,Montana,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
823,Nebraska,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
824,New Jersey,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
825,New Mexico,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
826,New York,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
827,North Carolina,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
828,North Dakota,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
829,Ohio,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
830,Oklahoma,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
831,Oregon,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
832,Pennsylvania,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
833,South Carolina,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
834,South Dakota,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
835,Tennessee,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
836,Texas,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
837,Utah,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
838,Vermont,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
839,Virginia,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
840,Washington,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
841,West Virginia,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
842,Wisconsin,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
843,Wyoming,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
844,Other,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
845,United States,(NA),(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2

In [4]:
#If I want to know how many (NA) values there are in each column, I will search this.
na_colony.count()

State                 47
Starting Colonies     47
Maximum Colonies      47
Lost Colonies         47
Percent Loss          47
Added Colonies        47
Renovated Colonies    47
Percent Renovated     47
Year                  47
dtype: int64

In [5]:
z_colony = colony_df[colony_df.eq('(Z)').any(1)]
z_colony.head(50)

,State,Starting Colonies,Maximum Colonies,Lost Colonies,Percent Loss,Added Colonies,Renovated Colonies,Percent Renovated,Year
29,North Dakota,57000,120000,620,1,1800,530,(Z),2015-Q1
39,Vermont,5500,5500,700,13,1200,20,(Z),2015-Q1
115,Mississippi,23000,34000,3500,10,260,110,(Z),2015-Q3
133,Vermont,6000,6500,40,1,30,20,(Z),2015-Q3
151,Illinois,14000,14000,690,5,0,30,(Z),2015-Q4
153,Iowa,35000,35000,4300,12,40,30,(Z),2015-Q4
154,Kansas,8500,8500,3400,40,50,20,(Z),2015-Q4
155,Kentucky,8500,8500,1100,13,20,10,(Z),2015-Q4
157,Maine,4700,4700,60,1,530,20,(Z),2015-Q4
161,Minnesota,104000,105000,10000,10,600,40,(Z),2015-Q4
163,Missouri,13500,13500,690,5,30,40,(Z),2015-Q4
164,Montana,116000,123000,10000,8,1000,80,(Z),2015-Q4
166,New Jersey,8000,8500,270,3,20,10,(Z),2015-Q4
168,New York,45000,45000,4000,9,260,10,(Z),2015-Q4
169,North Carolina,22000,22000,2200,10,510,70,(Z),2015-Q4
179,Utah,28000,28000,1900,7,120,100,(Z),2015-Q4
180,Vermont,6500,6500,940,15,10,10,(Z),2015-Q4
182,Washington,87000,89000,6500,7,330,170,(Z),2015-Q4
184,Wisconsin,48000,48000,6500,14,210,10,(Z),2015-Q4
186,Other,11360,12560,1630,13,100,50,(Z),2015-Q4
192,Colorado,5000,8500,750,9,1700,10,(Z),2016-Q1
193,Connecticut,2700,2700,270,10,70,10,(Z),2016-Q1
198,Illinois,8500,9500,1400,15,860,40,(Z),2016-Q1
205,Maryland,7500,7500,820,11,1200,10,(Z),2016-Q1
207,Michigan,25000,42000,5000,12,2300,80,(Z),2016-Q1
218,Ohio,16500,16500,2900,18,760,50,(Z),2016-Q1
226,Utah,12000,14500,1900,13,1400,50,(Z),2016-Q1
274,Vermont,5000,6500,20,(Z),480,30,(Z),2016-Q2
284,Arkansas,32000,32000,1500,5,270,60,(Z),2016-Q3
299,Maryland,7000,7000,200,3,400,20,(Z),2016-Q3
300,Massachusetts,9500,9500,530,6,450,40,(Z),2016-Q3
307,New Jersey,18000,18000,270,2,120,80,(Z),2016-Q3
316,South Carolina,13000,13500,920,7,990,50,(Z),2016-Q3
320,Utah,27000,33000,3200,10,1200,120,(Z),2016-Q3
329,Alabama,7000,7000,610,9,50,10,(Z),2016-Q4
331,Arkansas,28000,28000,2500,9,20,10,(Z),2016-Q4
336,Georgia,96000,112000,11000,10,12000,450,(Z),2016-Q4
338,Idaho,121000,143000,15500,11,5000,420,(Z),2016-Q4
341,Iowa,54000,54000,4700,9,0,20,(Z),2016-Q4
346,Maryland,7500,9500,500,5,20,30,(Z),2016-Q4
348,Michigan,101000,101000,12500,12,10,130,(Z),2016-Q4
350,Mississippi,17500,30000,2400,8,330,60,(Z),2016-Q4
355,New Mexico,7000,7000,1600,23,1100,20,(Z),2016-Q4
356,New York,48000,49000,9000,18,240,130,(Z),2016-Q4
357,North Carolina,25000,25000,5500,22,220,50,(Z),2016-Q4
360,Oklahoma,3100,44000,2700,6,120,30,(Z),2016-Q4
365,Tennessee,9000,9000,840,9,120,10,(Z),2016-Q4
366,Texas,136000,310000,39000,13,2200,650,(Z),2016-Q4
367,Utah,30000,30000,1600,5,440,50,(Z),2016-Q4
368,Vermont,6500,6500,260,4,20,10,(Z),2016-Q4

In [6]:
z_colony.count()

State                 134
Starting Colonies     134
Maximum Colonies      134
Lost Colonies         134
Percent Loss          134
Added Colonies        134
Renovated Colonies    134
Percent Renovated     134
Year                  134
dtype: int64

In [7]:
#check honey_df for (NA)
na_honey = honey_df[honey_df.eq('(NA)').any(1)]
na_honey

Empty DataFrame
Columns: [State, Honey producing colonies (thousand), Yield per colony (pounds), Production (1,000 pounds), Stocks December 15  (1,000 pounds) , Average price per pound (dollars), Value of production (1,000 dollars), Year]
Index: []

In [8]:
#check honey_df for (Z)
z_honey = honey_df[honey_df.eq('(Z)').any(1)]
z_honey

Empty DataFrame
Columns: [State, Honey producing colonies (thousand), Yield per colony (pounds), Production (1,000 pounds), Stocks December 15  (1,000 pounds) , Average price per pound (dollars), Value of production (1,000 dollars), Year]
Index: []

In [9]:
#check stressors_df for (NA)
na_stressors = stressors_df[stressors_df.eq('(NA)').any(1)]
na_stressors

,State,Varroa Mites (Percent),Other pests and parasites (Percent),Diseases (percent),Pesticides (percent),Other (percent),Unknown (percent),Year
799,Alabama,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
800,Arizona,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
801,Arkansas,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
802,California,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
803,Colorado,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
804,Connecticut,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
805,Florida,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
806,Georgia,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
807,Hawaii,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
808,Idaho,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
809,Illinois,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
810,Indiana,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
811,Iowa,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
812,Kansas,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
813,Kentucky,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
814,Louisiana,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
815,Maine,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
816,Maryland,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
817,Massachusetts,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
818,Michigan,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
819,Minnesota,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
820,Mississippi,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
821,Missouri,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
822,Montana,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
823,Nebraska,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
824,New Jersey,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
825,New Mexico,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
826,New York,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
827,North Carolina,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
828,North Dakota,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
829,Ohio,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
830,Oklahoma,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
831,Oregon,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
832,Pennsylvania,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
833,South Carolina,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
834,South Dakota,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
835,Tennessee,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
836,Texas,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
837,Utah,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
838,Vermont,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
839,Virginia,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
840,Washington,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
841,West Virginia,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
842,Wisconsin,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
843,Wyoming,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
844,Other,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2
845,United States,(NA),(NA),(NA),(NA),(NA),(NA),2019-Q2

In [10]:
#check stressors_df for (Z)
z_stressors = stressors_df[stressors_df.eq('(Z)').any(1)]
z_stressors

,State,Varroa Mites (Percent),Other pests and parasites (Percent),Diseases (percent),Pesticides (percent),Other (percent),Unknown (percent),Year
0,Alabama,10,5.4,(Z),2.2,9.1,9.4,2015-Q1
1,Arizona,26.9,20.5,0.1,(Z),1.8,3.1,2015-Q1
5,Connecticut,2.5,1.4,(Z),(Z),21.2,2.4,2015-Q1
8,Hawaii,38.8,37.7,1.6,(Z),2,(Z),2015-Q1
16,Maine,4.4,0.1,(Z),(Z),7.5,1.9,2015-Q1
...,...,...,...,...,...,...,...,...
1167,Vermont,21.1,(Z),3.7,0,10.1,(Z),2021-Q1
1169,Washington,15.5,2.4,1,(Z),5.3,(Z),2021-Q1
1171,Wisconsin,16.1,(Z),(Z),0,3.6,3.2,2021-Q1
1172,Wyoming,(Z),(Z),(Z),0,3.3,7.9,2021-Q1
1173,Other,19.4,1.2,4.1,(Z),6.8,1.1,2021-Q1

In [11]:
#Looks like it is prudent to remove any missing data from the colony and stressors dfs. Honey seems to be okay for missing data.
#drop rows for (NA) by using the drop function and slicing
no_null_colony = colony_df.drop(colony_df.index[799:846])
#check that all were removed
no_null_colony[no_null.eq('(NA)').any(1)]

NameError: name 'no_null' is not defined

In [ ]:
no_null_stressors = stressors_df.drop(stressors_df.index[799:846])
#check that all were removed
no_null_stressors[no_null_stressors.eq('(NA)').any(1)]

In [ ]:
#from the info file included with the dataset, I am concluding that the (Z) is a very small number but greater than 0. 
#for the sake of this analysis,I am going to replace all (Z) values with 0.
#again, honey_df will not need this action
no_z_colony = no_null_colony.replace('(Z)', 0)
#check that there at least one of the original rows with a (Z) was updated with 0. Rows 29 and 39 had (Z)
no_z_colony.head(50)

In [ ]:
no_z_stressors = no_null_stressors.replace('(Z)', 0)
#check that there at least one of the original rows with a (Z) was updated with 0. Top 5 rows had (Z)
no_z_stressors.head()

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [ ]:
#trying to get all of my columns in a boxplot format, will continue to work on this.
import matplotlib.pyplot as plt

for column in honey_df:
    plt.figure()
    honey_df.boxplot([column])

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [ ]:
# the data are pretty clean and pared down already so I don't think I will need to remove any.

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [ ]:
# since most of the data are integers, I need to just check the state and year columns in each df for unique values. 
# If there are any duplicates for formatted differently, I will make those changes.

state = honey_df['State'].unique()
state

In [ ]:
# since most of the data are integers, I need to just check the state and year columns in each df for unique values. 
# If there are any duplicates for formatted differently, I will make those changes.

state_stress = no_null_stressors['State'].unique()
state_stress

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
2. Did the process of cleaning your data give you new insights into your dataset?
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?